<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" />
    <title>Website</title>
</head>
<body>
    <center>
    <h1>Register here.</h1>
    <hr />
    <div id="konten">
        <div class="signup">
            <div>
                <h3>Sign Up</h3>
                <div>
                    <form action="/" method="post">
                        <input type="text" name="email" placeholder="Email..." required="" />
                        <br /><br />
                        <input type="text" name="username" placeholder="Username..." required="" />
                        <br /><br />
                        <input type="password" name="password" placeholder="Password..." required="" />
                        <br /><br />
                        <input type="password" name="passwordConf" placeholder="Confirm Password..." required="" />
                        <br /><br />
                        <input type="submit" value="Register Here!" /><br /><br />
                        <a href='/'>Back to login</a>
                    </form>
                    </center><br>
                    <hr>
                </div>
            </div>
        </div>
</body>
</html>